<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="C:\temp\logfile.log">

	<variable name="UserName" layout="${aspnet-user-identity:whenEmpty=App}" />
	
	<targets>
		<target xsi:type="File" name="logfile" fileName="C:\Logging\Logs_${UserName}\${UserName}_${shortdate}.log"
				layout="---------------------------------${newline} ${sequenceid} ${longdate} | ${uppercase:${level}} | ${message}"/>
		<target name="console" xsi:type="Console"
				layout="---------------------------------${newline} ${sequenceid} ${longdate} | ${uppercase:${level}} | ${message}"/>
	</targets>

	<rules>
		<logger name="logfileRule" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>

</nlog>